<div id="<%= dom_id source %>">
  <div>
    <strong>Title:</strong>
    <%= source.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= source.description %>
  </div>

  <div>
    <strong>Url:</strong>
    <%= source.url %>
  </div>

</div>
